.header__wrapper
  .header__content
    .header__hamburger.mobile-only
      span 
      span 
      span             
    .header__left
      a(href="#").header__logo.header__item LOGO

    .header__center
      a(href="#").header__item About
      a(href="#").header__item Tour
      .header__dropdown
        a(href="#").header__item Group solutions
        .header__dropdown-header__content
          a.dropdown-content__item(href='#') Vacancies
          a.dropdown-content__item(href='#') Lorum
          a.dropdown-content__item(href='#') Ipsum
    .header__right
      button(type='button').header__item.log-in__button Log in
    .header__dots.mobile-only
      span
      span
      span
