section
  .footer__wrapper
    .section__wrapper
      .footer__column
        a(href="#").footer__header Company
        ul
          li
            a(href="#").footer__link About1
          li
            a(href="#").footer__link About2
          li  
            a(href="#").footer__link About3
          li 
            a(href="#").footer__link About4 
          li 
            a(href="#").footer__link About5
          li 
            a(href="#").footer__link About6
          li 
            a(href="#").footer__link About7
          li 
            a(href="#").footer__link About7
      .footer__column
        a(href="#").footer__header Product
        ul
          li 
            a(href="#").footer__link FAQ
          li   
            a(href="#").footer__link Tour
          li  
            a(href="#").footer__link Science
          li 
            a(href="#").footer__link Demo
          li 
            a(href="#").footer__link blog
          li 
            a(href="#").footer__link blog2
          li 
            a(href="#").footer__link Starts
          li 
            a(href="#").footer__link Teams
          li 
            a(href="#").footer__link Policy
          li 
            a(href="#").footer__link Terms
          li 
            a(href="#").footer__link Landing1
          li  
            a(href="#").footer__link Landing2
      .footer__column
        .footer__top
          a(href="#").footer__header Store
          ul
            li 
              a(href="#").footer__link Compare Plan
            li 
              a(href="#").footer__link Plan1
            li 
              a(href="#").footer__link Plan2
            li 
              a(href="#").footer__link Plan Plan Plan3 
            li 
              a(href="#").footer__link Plan4
            li 
              a(href="#").footer__link Plan5
            li 
              a(href="#").footer__link Plan6
            li 
              a(href="#").footer__link Gift Card

      .footer__column.last
        .footer__top
          a(href="#").footer__header Subscribe
          .social__networks
            a(href="#").icon.icon-rss
              include ../../images/icons/rss.svg
            a(href="#").icon.icon-facebook
              include ../../images/icons/facebook.svg
            a(href="#").icon.icon-twitter
              include ../../images/icons/twitter.svg
            a(href="#").icon.icon-linkedin
              include ../../images/icons/linkedin.svg
            a(href="#").icon.icon-youtube
              include ../../images/icons/youtube.svg
          .footer__copyright.mobile-only Copyright 2019        
        .footer__bottom
          .footer__email
            .footer__header Email
            a(href="mailto:#").footer__link test@test.com
          .footer__phone  
            .footer__header Phone
            a(href="tel:#").footer__link (999)000-0000
          .footer__link.mobile-only.footer__send Send us a text
