section.hero-section
    .hero__wrapper      
        .method__wrapper
            h1.method__header Выберите способ заработка
            .method-items__wrapper
                button.method__item
                    .method__img.method__img-1
                        img(src='assets/img/method1.png')
                    span.method__title Торговать 
                button.method__item
                    .method__img.method__img-2
                        img(src='assets/img/method2.png')
                    span.method__title Инвестировать
                button.method__item
                    .method__img.method__img-3 
                        img(src='assets/img/method3.png')
                    span.method__title Привлекать инвесторов 
        .tab__content.display-none
            .tab__inner
                p.tab-content__text Если вы ищете пассивный доход и предпочитаете, чтобы деньги для вас зарабатывал тот, кто умеет это делать, тогда попробуйте ЛАММ. ЛАММ – это сервис копирования сделок успешных трейдеров. Доходность ни чем не ограничена!
                h2 Как это работает
                ol.tab-content__list 
                    li.tab-content__text Вы выбираете управляющего из рейтинга по фильтру Options
                    li.tab-content__text Подключаете свой счет к счету Управляющего
                    li.tab-content__text На вашем счете начинается копирование сделок
                    li.tab-content__text Обратите внимание, что вы не перечисляете свои деньги Управляющему. Все ваши средства остаются на Вашем счете.
                    li.tab-content__text Вы можете подключиться к нескольким Управляющим одновременно.
                    li.tab-content__text Вы можете отключиться от Управляющих в любой момент.
                button(type='button').tab__button Продолжить
        .tab__content.display-none
            .tab__inner
                h2 инвесторовать
        .tab__content.display-none
            .tab__inner
                h2 Привлекать инвесторов