@font-face {
  font-family: "PF Din Text Pro";
  src: url("../fonts/pfdintextcomppro-regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PF Din Text Pro Light';
  src: url("../fonts/pfdintextcomppro-light.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
