extends _layouts/_index-layout  
//- include _mixins/index   

block content
  .main__content
    .container 
      include _partials/_hero.pug
      include _partials/_nav.pug
      include _partials/_what.pug
      include _partials/_why.pug
      include _partials/_where.pug
      include _partials/_food.pug
      
