.modal.active
  .modal__wrapper
    .modal__content
      .modal__closer
      span.modal__header Download our free Book
      span.modal__description Lorem Ipsum is simply dummy text of the printing
      span.modal__bold-text Lorme is important to me because...
      select.modal__select
        option 1
        option 2
      button(type='button').button-blue.modal__button.button Get the Book
