.nav__wrapper
  .nav__content
    ul.nav__list
      li.nav__item.active What is Lorem Ipsum?
      li.nav__item Why do we use    
      li.nav__item Come from
    button(type='button').nav__button.button.button-glass.button-big Get Lorem   

