section
  .what__wrapper
    .section__wrapper
      h2 what is lorem ipsum?
      h3 Lore Ipsum is simply dummy text
      p.text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br><br> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially.
      .video__wrapper
        video(width='400', controls='')
          source(src='', type='video/mp4')
          source(src='', type='video/ogg')
          |   Your browser does not support HTML5 video.
        include ../../images/icons/play.svg
      button(type="button").what__button.button.button-blue.button-big Get Lorem
