section
  .why__wrapper
    .section__wrapper
      h2 Why do we use it?
      h3 It is a long established fact that a reader will be distracted
      .why__imgs-wrapper
        .why__cake
          .why__cake-img
            img(src="assets/img/cake.svg")
          span Use?
        .why__vs          
          img(src="assets/img/vs.svg")
          span VS
        .why__microscope
          .why__microscope-img
            img(src="assets/img/microscope.svg")
          span Lorem?

      p.text It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. 
        <br> <br> 
        | Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,
      button(type="button").why__button.button.button-blue Learn More
