section.info-section
    .wrapper.info-wrapper        
        .content.info-content
            .info__left
                .info__img
                    img(src='assets/images/computer.png')
            .info__right
                h2.info-right__title Title text
                ol.info__list
                    li Duis aute irure dolor in reprehenderit<sup>1</sup> in voluptate velit
                    li Ullamco laboris nisi ut aliquip ex ea commodo consequat 
                    li Ut enim ad minim veniam, quis nostrud exercitation 
                    li Et dolore magna aliqua
                    li Sed do eiusmod tempor<sup>2</sup> incididunt ut labore 
                    li Lorem ipsum dolor sit amet<sup>3</sup> consectetur adipisicing elit