section.posts-section
    .wrapper.posts-wrapper        
        .content.posts-content
            .posts-row-1
                .post
                    .post__img
                        img(src='assets/images/post-1.jpg')
                    .post__desctiption
                        .post-header__wrapper
                            h3.post__title Post header 1
                            .icon-cubes
                                img(src='assets/images/svg/icon-cubes.svg')
                        p.post__text 
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                .post
                    .post__img
                        img(src='assets/images/post-2.jpg')
                    .post__desctiption
                        .post-header__wrapper
                            h3.post__title Post header 2
                            .icon-cubes
                                img(src='assets/images/svg/icon-cubes.svg')
                        p.post__text 
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                .post
                    .post__img
                        img(src='assets/images/post-3.jpg')
                    .post__desctiption
                        .post-header__wrapper
                            h3.post__title Post header 3
                            .icon-cubes
                                img(src='assets/images/svg/icon-cubes.svg')
                        p.post__text 
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.                 
            .posts-row-2
                .post
                    .post__img
                        img(src='assets/images/post-4.jpg')
                    .post__desctiption
                        .post-header__wrapper
                            h3.post__title Post header 4
                            .icon-cubes
                                img(src='assets/images/svg/icon-cubes.svg')
                        p.post__text 
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                .post
                    .post__img
                        img(src='assets/images/post-5.jpg')
                    .post__desctiption
                        .post-header__wrapper
                            h3.post__title Post header 5
                            .icon-cubes
                                img(src='assets/images/svg/icon-cubes.svg')
                        p.post__text 
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 