.info-wrapper {
  background-color: #eeeeee;
}

.info-content {
  justify-content: unset;
  padding-top: 65px;
  padding-bottom: 80px;
  padding-left: 15px;
  @media (max-width: 1000px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0;
  }
  @media (max-width: 600px) {
    padding: 15px 0;
  }
}

.info__img {
  margin-top: -100px;
  height: 490px;
  width: 500px;
  @media (max-width: 1200px) {
    margin-top: 0;
    width: 100%;
    height: auto;
  }
}

.info__left {
  margin-right: 135px;
  @media (max-width: 1000px) {
    display: none;
  }
}
.info__right {
  @media (max-width: 1000px) {
    padding-left: 50px;
  }
}

.info-right__title {
  color: #4488bb;
  margin-bottom: 60px;
  @media (max-width: 1000px) {
    align-self: flex-start;
  }
  @media (max-width: 600px) {
    // display: none;
    margin-bottom: 25px;
  }
}
.info__list {
  counter-reset: my-counter;
  display: flex;
  flex-direction: column;
}

.info__list li {
  color: #4488bb;
  font-family: "Arial - Bold MT";
  font-size: 18px;
  display: inline-block;
  cursor: pointer;
  counter-increment: my-counter;
  align-items: center;
  margin-bottom: 15px;
  justify-content: flex-start;
  border-bottom: 1px dashed #aaaaaa;
  position: relative;
  align-self: flex-start;
  padding-bottom: 10px;
  @media (max-width: 600px) {
    line-height: 1.2;
  }

  &:last-child {
    border-bottom-color: transparent;
    margin-bottom: 0;
    padding-bottom: 0px;
  }

  &:before {
    content: counter(my-counter);
    color: #eeeeee;
    font-family: "Arial - Bold MT";
    font-weight: bold;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #4488bb;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    position: absolute;
    left: -50px;
    top: 0;
    @media (max-width: 600px) {
      top: 50%;
      transform: translateY(calc(-5px - 50%));
    }
  }
}

.info__list a {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  color: #4488bb;
}
