footer
    .wrapper.footer-wrapper        
        .content.footer-content
            ul.footer__list
                li#reprehenderit <sup>1</sup>Reprehenderit - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                li#tempor <sup>2</sup>Tempor - Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                li#amet <sup>3</sup>Amet - Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.