// @font-face {
//   font-family: 'Myriad Pro';
//   src: url("../fonts/MyriadPro-Regular.ttf") format('otf');
//   font-weight: normal;
//   font-style: normal;
// }
@font-face {
  font-family: 'MyriadPro-light';
  src: url("../fonts/MyriadPro-Light.otf") format('otf');
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: 'Effra Trial';
//   src: url("../fonts/Effra_W_Md.woff") format('truetype');
//   font-weight: 500;
//   font-style: normal;
// }
