header
  .header-wrapper
    .hamburger
      span.hamburger__top
      span.hamburger__mid
      span.hamburger__bot
        
    a(href='#').logo
      img(src='assets/img/logo.svg')

    .menu
      .menu__content
        .menu__closer
        ul.menu__list 
          li 
            a(href="#") Объекты    
          li
            a(href="#") Компания
          li 
            a(href="#") Как купить
          li 
            a(href="#") Агентам
          li
            a(href="#") Регионам
          li 
            a(href="#") Акции
          li 
            a(href="#") Контакты
    .call
      a(href="tel:8 888 88 88 98") 8 888 88 88 98
      span звони скорее
